@model DataObjects.Project

@{
    ViewBag.Title = "Create Project";
}

@using (Html.BeginForm("Create", "Project", FormMethod.Post)) {
    @Html.AntiForgeryToken()
    
<div class="form-horizontal p-2">
    <h2>New Project</h2>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.ProjectID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ProjectID, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ProjectID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="btn-group mt-2">
        <a href="@Url.Action("MyProjects", "Project")" class="btn btn-secondary">Back</a>
        <button type="submit" class="btn btn-primary">Create Project</button>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
