@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin;
@{
    ApplicationUserManager userManager = Context.GetOwinContext().GetUserManager<ApplicationUserManager>();
    var user = userManager.FindById(User.Identity.GetUserId());
    DataObjects.ProjectMemberVM projectMember = (DataObjects.ProjectMemberVM)Session["ProjectMember"];
}

<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary shadow overflow-hidden" style="width: 280px; background-color: #bdbdbd !important ">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        @*<svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap" /></svg>*@
        <span class="fs-4">@Model.ProjectID</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        @if (projectMember.ProjectRole.ProjectManagementPrivileges) {
            <li class="nav-item">
                <a href="@Url.Action("ProjectMembers", "ProjectMember", new { projectID = Model.ProjectID })" class="nav-link link-body-emphasis @(ViewBag.Tab == "Manage" ? "active text-white" : "")" aria-current="page">
                    <img src="~/Images/BootstrapIcons/speedometer.svg" width="16" height="16" />
                    Manage
                </a>
            </li>
        }

        @if (projectMember.ProjectRole.FeedMessagingPrivileges) {
            <li>
                <a href="@Url.Action("Index", "Feed", new { projectID = Model.ProjectID })" class="nav-link link-body-emphasis @(ViewBag.Tab == "Feed" ? "active text-white" : "")">
                    <img src="~/Images/BootstrapIcons/chat-left-dots.svg" width="16" height="16" />
                    Feed
                </a>
            </li>
        }

        @if (projectMember.ProjectRole.SprintPlanningPrivileges) {
            <li>
                <a href="@Url.Action("Index", "Sprint", new { projectID = Model.ProjectID })" class="nav-link link-body-emphasis @(ViewBag.Tab == "Sprints" ? "active text-white" : "")">
                    <img src="~/Images/BootstrapIcons/bar-chart-steps.svg" width="16" height="16" />
                    Sprints
                </a>
            </li>
        }

        @if (projectMember.ProjectRole.FeaturePrivileges) {
            <li>
                <a href="@Url.Action("Index", "Backlog", new { projectID = Model.ProjectID })" class="nav-link link-body-emphasis @(ViewBag.Tab == "Backlog" ? "active text-white" : "")">
                    <img src="~/Images/BootstrapIcons/list-columns-reverse.svg" width="16" height="16" />
                    Backlog
                </a>
            </li>
        }

        @if (projectMember.ProjectRole.TaskPrivileges) {
            <li>
                <a href="@Url.Action("Index", "Board", new { projectID = Model.ProjectID })" class="nav-link link-body-emphasis @(ViewBag.Tab == "Board" ? "active text-white" : "")">
                    <img src="~/Images/BootstrapIcons/clipboard.svg" width="16" height="16" />
                    Board
                </a>
            </li>
        }
    </ul>
</div>