@model DumbScrumWebMVC.Models.TaskItemVM

<div class="card mb-4">
    <div class="card-header">
        @Model.Task.StoryID
    </div>
    <div class="card-body">
        <p class="card-text">@Model.Task.Story</p>
        @if (Model.Task.Status == "To Do") {
            <a href="@Url.Action("ClaimTask", "Board", new { taskID = Model.Task.TaskID, projectID = Model.ProjectID })" class="btn btn-primary">Claim</a>
        } else {
            <div class="d-flex justify-content-between">
                <div class="btn-group">
                    <a href="@Url.Action("Overview", "Task", new { taskID = Model.Task.TaskID, projectID = Model.ProjectID })" class="btn btn-outline-success" data-bs-toggle="tooltip" data-bs-title="View Task"><i class="bi bi bi-arrow-90deg-up"></i></a>
                </div>
                <p class="text-end">@Model.Task.UserDisplayName</p>
            </div>
        }
    </div>
</div>