@model DumbScrumWebMVC.Models.BacklogVM

@{
    ViewBag.Title = "Project Backlog";
}

<div class="d-flex h-100 overflow-x-hidden">
    @Html.Partial("_ProjectPartial")

    <div class="h-100 w-100 p-2 mx-3">
        <div class="row gap-2">
            <div class="col">
                <div class="d-flex justify-content-between">
                    <h2 class="p-0 m-0">Features</h2>
                    <p>
                        <a href="@Url.Action("CreateFeature", "Backlog", new { projectID = Model.ProjectID })" class="btn btn-success" data-bs-toggle="tooltip" data-bs-title="Create New Feature"><i class="bi bi-plus-lg"></i></a>
                    </p>
                </div>
            </div>
            <div class="col">
                <div class="d-flex justify-content-between">
                    <h2 class="p-0 m-0">User Stories</h2>
                    <p>
                        <a href="@Url.Action("CreateUserStory", "Backlog", new { projectID=Model.ProjectID, featureID = Model.SelectedFeatureID })" class="btn btn-success" data-bs-toggle="tooltip" data-bs-title="Create New Feature"><i class="bi bi-plus-lg"></i></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row gap-2 h-90">
            <div class="col p-0 h-100">
                <div class="container-fluid p-0 overflow-y-auto h-100">
                    @using (Html.BeginForm("Index", "Backlog", FormMethod.Post, new { id = "feature-form" })) {
                        @Html.HiddenFor(model => model.ProjectID)
                        <input type="hidden" name="selectedFeatureID" id="selectedFeatureID" value="@Model.SelectedFeatureID" />
                        <div class="list-group">
                            @foreach (DataObjects.Feature f in Model.Features) {
                                <button type="submit" class="list-group-item list-group-item-action @(f.FeatureID == Model.SelectedFeatureID ? "active" : "")" aria-current="true" runat = "server" onclick="$('#selectedFeatureID').val('@f.FeatureID');">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">@f.Name</h5>
                                        <small>@f.Priority</small>
                                    </div>
                                    <h6 class="card-subtitle mb-2 text-body-secondary">@f.FeatureID</h6>
                                    <p class="card-text">@f.Description</p>
                                </button>
                            }
                        </div>
                    }
                </div>
            </div>
            <div class="col p-0 h-100">
                <div class="container-fluid p-0 overflow-y-auto h-100">
                    <div class="list-group">
                        @foreach (DataObjects.UserStory s in Model.UserStories) {
                            <div class="list-group-item list-group-item" aria-current="true">
                                <h5 class="mb-1">@s.Person</h5>
                                <h6 class="card-subtitle mb-2 text-body-secondary">@s.Action</h6>
                                <p class="card-text">@s.Reason</p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        
    </script>
} 